.slide img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.slide.none{
    display: none;
}

.slide.none.active{
    display: block;
}

.container-sm{
    position: relative;
}

.arrow{
    position: absolute;
    font-size: 50px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

.arrow.left-arrow{
    left: 20px
}

.arrow.right-arrow{
    right: 20px
}